<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.min.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.13/dist/vue.js"></script>
  <title>計算屬性</title>
</head>
<body>
  <div id="app">
    <input type="number" v-model="a"/>
    <input type="number" v-model="b"/>
    =

    <input type="number" v-model="total"/>

    <br>
    {{a}} + {{b}} = {{total}}
  </div>

  <script>
    const data = {
      a: 1,
      b: 2,
    }

    new Vue({
      el:'#app',
      data: {
        a:0,
        b:0
      },

      //跟computed 裡面的東西 可以是一個物件，裡面有get和set可以使用
      //get 代表要取得值， set代表設定一個值所以要傳val
      computed: {
        total: {
          get(){
            return parseInt(this.a,10) + parseInt(this.b,10)
          },

          set(val) {
            this.b = parseInt(val, 10) - parseInt(this.a,10)
          }
        }
      }
      //這邊會去監聽a b的變動 然後呼叫total 這個func
    })

    
  </script>
</body>
</html>